.row{
	background:url(header.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	padding:10em;
	text-align:center;
	}
.display-4{
	color:#fff;
	font-size:2rem;
	padding-bottom:7em;
}
.btn-danger{
		color:white;
		border:1px solid;
		border-radius:2em;
}